.input {
  max-width: 190px;
  display: none;
}

.labelFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 293px;
  height: 360px;
  border-radius: 10px;
  border: 2px dashed #9866ff;
  align-items: center;
  text-align: center;
  padding: 5px;
  color: #404040;
  cursor: pointer;
}

.labelFile:hover p {
  color: #9866ff;
}

.labelFile:hover:hover #Capa_1{
  fill-opacity: 35%;
}
/* .addFileArtworkContainer {
position: relative;
top:0vh;
left: 2vw;
} */

.gallery-container-artworksArtist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
  position: relative;
  right: 10vw;
}
