.PinnedMuseums-container{
  position: relative;
  right:18vw;
}

  .PinnedMuseums-List-container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; /* Adjust space between cards */
    padding: 109px;
    padding-top: 24px;
  }
  .pagination-containermuseum {
    width: 100%; 
    position: absolute; 
    bottom: 0;
    left: 169px; 
    z-index: 100; 
  }