
.PinnedMuseums-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -210px;
    gap: 15px; /* Adjust space between cards */
    padding: 20px; /* Padding around the gallery container */
  }