.modal-backdropflw {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-contentflw {
    position: relative;
    background: white;
    padding: 20px;
    padding-right: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 426px;
    margin-top:8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 80%;
    overflow: hidden;
  }
  
  .modal-headerflw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Optional */
    z-index: 1;
  }
  
  .followers-listflw {
    width: 100%;
    overflow-y: auto; /* Enables vertical scrolling */
    max-height: calc(100% - 60px); /* Adjust based on header size */
  }
  
  .follower-itemflw {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding-right: 13px;
  }
  
  .follower-img-avatarflw img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .follower-infoflw {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .follower-nameflw{
    display: block; /* Ensure proper text wrapping */
    font-size: 28px;
    font-family: "Dubai-Bold";
  }
  .follower-titleflw{
    display: block;
    font-size: 20px;
    font-family: "Dubai";
    color:#7e3fff;
    position: relative;
    bottom: 18px;
  }
  
  .status-iconflw img {
    width: 35px;
    height: 35px;
    margin-left: auto;
  }
  
  .close-iconflw {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  