.modal-backdropcmpt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-contentcmpt {
  position: relative;
  background: white;
  padding: 20px;
  padding-right: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 922px;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80%;
  overflow: hidden;
}

.modal-headercmpt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc; /* Optional */
}

.close-iconcmpt {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
  right: 1vw;
  top: -3.5rem;
}

.artist-profile-containercmpt {
  display: flex;
  background-color: #ffffff; /* Adjust the background color */
  color: #000000;
  padding: 0px;
  font-family: Arial, sans-serif; /* Choose a suitable font */
}

.profile-sectioncmpt {
  width: 50%;
  padding: 20px;
}

.artist-photocmpt {
  width: 75px; /* Adjust size accordingly */
  height: 75px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 20px;
}
.subtitlecmpt {
  position: relative;
  bottom: 12px;
  font-size: 20px;
  font-family: "Dubai";
  color: #7e3fff;
}
.detailscmpt p {
  margin: 5px 0;
  color: #7e3fff; /* As seen for the service type */
  font-family: "Raleway-SemiBold";
  font-size: 24px;
}

.description-sectioncmpt {
  width: 50%;
  padding: 20px;
  border-left: 2px solid rgb(255, 255, 255); /* Stylistic choice */
}

.description-sectioncmpt h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-family: "Raleway-ExtraBold";
}

.description-sectioncmpt p {
  font-size: 16px;
  font-family: "Raleway-Regular";
}
.photo-name-cmpt {
  display: flex;
}
.follower-infocmpt {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  bottom: 0.5rem;
  margin-bottom: -1rem;
}
.follower-infocmpt h1 {
  font-size: 28px;
  font-family: "Dubai-Bold";
  margin-bottom: -0.5rem;
  text-transform: capitalize;
}

.OrderId {
  text-transform: capitalize;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.OrderId p {
  color: #7e3fff;
  margin-top: 0.1rem;
}

.service-type-cmplt {
  display: inline-block;
  width: 100%;
  /* height: 50px; */
  padding: 12px;
  text-align: center;
  background-color: #fdf4f6;
  color: #e36281;
  border-radius: 30px;
  font-size: 20px;
  font-family: "Raleway-SemiBold";
  text-transform: capitalize;
}

.CompletedStatue-containertest {
  width: 705px;
  height: 474px;
  position: relative;
  left: 5.5vw;
  border: 5px solid #9866ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
}

.completeStatu-list {
  width: 100%;
  overflow-y: auto; /* Enables vertical scrolling */
  max-height: calc(100% - 60px); /* Adjust based on header size */
}

.modalImageUpload {
  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 1rem;
}

.logo-circle {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e9e5ff;
  fill: #1cc972;
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.25rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-close:hover,
.btn-close:focus {
  background-color: #e9e5ff;
}

.modal-body {
  padding: 1rem 1.5rem;
}

.modal-title {
  font-weight: 700;
}

.modal-description {
  color: #6a6b76;
}

.upload-area {
  margin-top: 1.25rem;
  background-color: transparent;
  padding: 3rem;
  width: 100%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed #6a6b76;
}

.upload-area:hover,
.upload-area:focus {
  cursor: pointer;
  border: 2px solid #6a6b76;
}

.upload-area:hover .upload-area-icon,
.upload-area:focus .upload-area-icon {
  transform: scale(1.3);
  transition-duration: 0.3s;
}

.image-uploader-content-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.upload-area-icon {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  fill: #7e3fff;
}

.upload-area-title {
  display: block;
  font-weight: 700;
  color: #0d0f21;
}

.upload-area-description {
  display: block;
  color: #6a6b76;
  margin-top: 1rem;
}

.upload-area-description strong {
  color: #7e3fff;
  font-weight: 700;
}

.modal-footer {
  padding: 1rem 1.5rem 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.modal-footer [className*="bttn-"] {
  margin-left: 0.75rem;
}

.bttn-secondary,
.bttn-primary {
  padding: 0.5rem 1rem;
  font-weight: 500;
  border: 2px solid #e5e5e5;
  border-radius: 0.25rem;
  background-color: transparent;
  cursor: pointer;
}

.bttn-primary {
  color: #fff;
  background-color: #7e3fff;
  border-color: #7e3fff;
  cursor: pointer;
  margin-left: 1rem;
}

.bttn-primary:hover {
  background-color: #9866ff;
  border-color: #9866ff;
}

.bttn-primary:disabled {
  cursor: not-allowed;
}

.bttn-secondary:hover {
  background-color: #efecf8;
  border-color: #efecf8;
}

.imageUploadArtworkSumittion {
  position: relative;
  width: 125%;
  max-height: 290px;
  top: -2.75rem;
}
