.navbarArt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #FFFFFF; /* Change according to your color scheme */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 80px; /* Adjust based on your preference */
    width: 100%;
    left:-2px;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.logoNavArt {
    margin-top: 5px;
    height: 60px; /* Adjust size to fit your logo */
}
.navInNavContainer{
    text-align: left;
    position: fixed;
    align-items: center;
    top: -0.7rem;
    left: 30vw;
    padding-left: 5rem;
    z-index: 10000;
}
.nav-container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px;
    /*
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);  /* Optional: adds shadow for elevation */
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 0px 20px;
    text-decoration: none;
    color: black;  /* Text color */
    transition: color 0.3s ease;
  }
  
  .nav-item:hover, .nav-item.active {
    color: #9866ff;  /* Highlight color on hover/active */
  }
  
  .nav-item img {
    margin-bottom: 1px;  /* Space between icon and text */
  }
  .nav-item:hover img, .nav-item.active img {
    filter: brightness(0) saturate(100%) invert(40%) sepia(85%) saturate(3957%) hue-rotate(245deg) brightness(96%) contrast(104%);
    /* Adjust this filter to match your hover color needs */
  }
  
  .indicatorNav {
    position: absolute;
    bottom: 24px;
    height: 6px;
    background-color: #9866ff;  /* Indicator color */
  }
  
  /* Additional styles for responsive or specific adjustments */
  
  .iconTailleNav{
    width: 1.66rem;
  }

  .nav-item span{
    font-size: 16px;
    font-family: 'dubaiBold','Dubai-Bold';
  }
  .iconsRow {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 35px;  
    padding-left: 390px;  
    padding-top: 15px;
  }
  
  .div_hw {
    width: 31.05px;
    height: 34.24px;  
    position: relative;
  }
  
  .im_hw {
    display: block;  
    width: 100%;  
    height: auto;
  }
  
  .nmryw {
    position: absolute;
    background-color: #FFCB37;
    right: -10px; 
    height: 20px;
    top: -10px; 
    border-radius: 2px;
    padding: 1px 5px; 
    font-size: 12px; 
    color: #000;  
    font-family: "Dubai-Bold";
  }

  .nmrywgreen {
    position: absolute;
    background-image: url("../../../assets/images/greenpoint.svg");
    min-width: 10px; 
    height: 10px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    right: 1px; 
    top: 2px; 
  }