.artist-profile-container {
    font-family: 'Arial', sans-serif;
    color: #333;
}

.artist-header {
    background-color: #8A2BE2; /* Purple background */
    color: white;
    width: 655px;
    height: 218px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    text-align: center;
}

.artist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.subscribe-button {
    background-color: #6a0dad;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.artist-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f8f8f8; /* Light background for content */
}

.artwork-section, .order-section {
    width: 45%; /* Adjust based on your design */
}

.artwork-item, .order-item {
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.artwork-item img, .order-item img {
    width: 100%; /* Make image responsive */
    height: auto;
}

h1, h2 {
    margin: 10px 0;
}

p, span {
    margin: 5px 0;
}
