#ArtImgSection {
  width: 50vw;
  height: 100vh;
  background-color: white;
  position: fixed;

  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Artist-container-ArtImg {
  position: relative;
  bottom: 27.5vh;
  right: 10vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Artist-image-ArtImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white;
  margin-right: 1.5vw;
}

.Artist-info-ArtImg {
  position: relative;
}

.Artist-name-ArtImg {
  font-size: 28px;
  font-family: "DubaiB", "Dubai-Bold";
}

.Artist-Type-ArtImg {
  font-size: 20px;
  color: #7e3fff;
  font-family: "Dubai", "Dubai";
  margin-top: -2vh;
}

@media (max-width: 600px) {
  .Artist-container-ArtImg {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .Artist-info-ArtImg {
    margin-left: 0;
    margin-top: 10px;
  }
}

.image-containertest {
  width: 90%;
  height: 63vh;
  position: absolute;
  top: 200px;
  left: 60px;
  background-color: #f0f0f0;
  border: 5px solid #704cb6;
  margin: 5vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 10px;  */
}

.image-placeholdertest {
  max-width: 97%;
  max-height: 97%;
  object-fit: contain;
}
