#PricingSection-section {
    width: 99.3vw;
    height: 130vh;
}
.PricingSection-container7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-top: 110px;
    padding: 20px;
    position: relative;  /* Set position to relative, absolute, or fixed as needed */
    z-index: 1;
  }
  
  
  .PricingSection-name7 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-top: 5px;
    font-family: "DubaiBold","Dubai-Bold";
  }
  
  .PricingSection-details7 {
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin: 0;
    font-family: "Raleway-Regular";
  }
  


  .OptionsCards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 65px;
    padding: 37px;
  }


  .planCard {
    width: 383px;
    background-color: white;
   text-align: center;
  }
  
  .planContent {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px; 
    /* margin-bottom: 10px;  */
    width: 383px;
    height: 369px;
    background-color: white;
   
    border: 1px solid #292929; 
    overflow: hidden; 
  }
  
  .planHeader {
    background-color: #9866FF; /* A purple color */
    color: white;
    height: 121px;
    padding: 35px;
    font-size: 40px;
    
    font-family: "Raleway-Bold";
  }
  
  .planPrice {
    margin: 5px 0;
    font-size: 56px;
    color: #9866FF;
    margin-bottom: -11px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .crownIcon {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
  }
  
  .planFeatures {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .planFeatures p {
    color: #292929;
    font-size: 24px;
    font-family: "Raleway-SemiBold";
  }
  
  .planButton {
    background-color: #9866FF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 32px;
    font-family:"Raleway-SemiBold" ;
    width:194px ;
    height: 56px;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin-top: 10px; /* Space above the button */
  }
  
  .planButton:hover {
    background-color: #9866ff; /* Darker purple on hover */
  }
  
  .footerContainerPricingSection{
    position:relative;
    bottom:1070vh;
    width:500px;
  }