.AtistDeletebutton {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #cc0000;
  background-color: #e50000;
  overflow: hidden;
}

.AtistDeletebutton,
.AtistDeletebutton__icon,
.button_Delete_text {
  transition: all 0.3s;
}

.AtistDeletebutton .button_Delete_text {
  transform: translateX(35px);
  color: #fff;
  font-weight: 600;
}

.AtistDeletebutton .AtistDeletebutton__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #cc0000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AtistDeletebutton .svg {
  width: 20px;
}

.AtistDeletebutton:hover {
  background: #cc0000;
}

.AtistDeletebutton:hover .button_Delete_text {
  color: transparent;
}

.AtistDeletebutton:hover .AtistDeletebutton__icon {
  width: 148px;
  transform: translateX(0);
}

.AtistDeletebutton:active .AtistDeletebutton__icon {
  background-color: #b20000;
}

.AtistDeletebutton:active {
  border: 1px solid #b20000;
}
