#Payment-success-section{
    width: 99.55vw;
    height: 75vh;
    padding-top: 6vh;
}
.payment-success-container-success {
    background-color: #FFF;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    margin-bottom: 17vh;
   
  }
  
  .icon-success {
    width: 24px;
    height: 24px;
  }
  .icon-success img{
    width: 80px;
    height: 80px;
    position: relative;
    left: 15.5vw;
    bottom: 8vh;
  }
  .payment-success-container-success h1 {
    color: #333;
    font-family: "Dubai-Bold";
    font-size: 38px;
  }
  
  .payment-success-container-success p {
    color: #666;
    margin: 20px 0;
    font-family: "Dubai";
    font-size: 18px; 
  }
  
  .gocollection-button-success{
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 25px;
    font-family:"Raleway-SemiBold" ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:300px ;
    margin-bottom: 10px;
    background-color: #7e3fff;
    color: white;
    margin-right: 10px;
  }
  .gocollection-button-success:hover{
    background-color: #9866ff;
  }
  .gocollection-button-success img{
    width: 30px;
    height: 30px;
    padding-right: 5px;
  }

  

  