#ShowcaseMus-section {
    width: 99.3vw;
    height: 130vh;
}

.profile-Banner {
    background-image: url("");
    width: 655px;
    height:218px ;
    position: relative;
    left: 430px;
    top:110px;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;  
  }