.landing-container > * {
  margin-bottom: 100px; /* Adjust the space as needed */
}

/* Landing.css */
.landing-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1200px;
  margin-top: 5546px;
  /* margin-top: 780vh; */
  /* active this only when using NavArt as nav barre  */
  margin-top: 730vh;
  background-color: white;
}

.landing-container > *:last-child {
  margin-bottom: 0;
}
