/* General Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #FFFFFF; /* Change according to your color scheme */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 80px; /* Adjust based on your preference */
    width: 100%;
    left:-2px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 60px; /* Adjust size to fit your logo */
}

.button-container {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between buttons */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }
    .logo {
        margin-bottom: 10px;
    }
}

.signupBtn {
    width: 150px;
  height: 50px;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
  gap: 9px;
  color: white;
  background: #6216FC;
  position: relative;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);
  }
  .signupBtn:hover {
    background-color: #7E3FFF;
  }
  .signupBtn1 {
    width: 150px;
    height: 50px;
    border-radius: 4px;
    font-weight: bold;
    border: 4px solid #FD006F; /* Add border with specified color */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    gap: 9px;
    color: #FD006F;
    
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);
  }
  .signupBtn1:hover {
    background-color: #e6e6e6;
  }
  
  