#museum-section {
  width: 99.55vw;
  height: 130vh;
  background-image: url("../../../../assets/images/linemuseum.svg");
  background-repeat: no-repeat;

  background-position: -10vh 10vh;
}
.museum-section2 {
  text-align: left;
  padding-left: 130px;
  padding-top: 95px;
  padding-bottom: 40px;
}
.museum-container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; /* Adjust space between cards */
  padding: 109px;
  padding-top: 24px;
}

.event-card11 {
  padding: 6px;
  width: 316px;
  height: 383px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 2px 25px rgb(0, 0, 0, 0.16);
}

.event-image11 {
  position: relative;
  width: 100%;
  height: 189px;
  border-radius: 12px;
}

.event-overlay11 {
  width: 306px;
  height: 189px;
  position: absolute;
  bottom: 0;
}
.event-price11 {
  width: fit-content;
  padding: 8px 12px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 22px;
  font-family: "Roboto-Medium";
  font-size: 12px;
  text-align: center;
  padding-top: 4px;
  margin-right: 0.5%;
  box-sizing: border-box;
}
.event-debut-date11 {
  width: max-content;
  height: 22px;
  border-radius: 25px;
  background-color: #8d3dff;
  font-family: "Roboto-Medium";
  font-size: 12px;
  color: #ffffff;
  text-align: center;

  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.event-end-date11 {
  width: max-content;
  height: 22px;
  border-radius: 25px;
  background-color: #ffffff;
  font-family: "Roboto-Medium";
  font-size: 12px;
  text-align: center;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.event-date11 {
  width: 75%;
  height: 22px;
  display: flex;
  gap: 8px;
  /* justify-content: space-between; */
}
.event-overlay-top11 {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
.btn-pass11 {
  overflow: hidden;
  bottom: 0;
  right: 0.6%;
  position: absolute;
  width: 110px;
  height: 34px;
  background-color: #8d3dff;
  color: #ffffff;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 12px;
}
.btn-pass11 span {
  transition: top 0.5s;
}
.btn-pass11:hover .btn-text-one11 {
  top: -100%;
}

.btn-pass11:hover .btn-text-two11 {
  top: 43%;
}

.btn-text-one11 {
  position: absolute;
  width: 100%;
  top: 50%;
  font-family: "Roboto-Medium";
  left: 0;
  transform: translateY(-50%);
  /* padding-bottom: 9px; */
  font-size: 12px;
  padding: 4px 0 12px 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.btn-text-two11 {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}
.btn-311 {
  bottom: 0;
  position: absolute;
  width: 40px;
  height: 34px;
  background-color: #8d3dff;
  color: #ffffff;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 12px;
}
.cc11 {
  font-family: "Raleway-SemiBold";
  font-size: 24px;
}
.exclusiveMuseumCard {
  font-family: "Raleway-SemiBold";
  font-size: 12px;
  align-items: center;
  color:rgb(255, 196, 48);
}
.ccp11 {
  font-family: "Raleway-Regular";
  font-size: 16px;
  height: 65px;
}
.btn-da11 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0 8px;
  height: 28px;
  font-size: 12px;
  border-radius: 4px;
  color: #a6a7a8;
  border: 2px #a6a7a8 solid;
  background-color: #ffffff;
}
.profile-image11 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
}
.profile-container11 {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 96px;
  left: 186px;
  top: -29px;
  margin-right: 9px;
}
.div_buttom11 {
  width: 295px;
  display: flex;
  justify-content: space-between;
}
.range-content11 {
  width: 230px;
  height: 10px;
  background-color: #ebebeb;
  border-radius: 10px;
  position: relative;
  top: 24px;
}
.slider-range11 {
  position: absolute;
  /* width: 76%; */
  height: 10px;
  background-color: #5bd6ff;
  border-radius: 10px;
}
.range-nmr11 {
  font-family: "Roboto-Bold";
  font-size: 12px;
  position: relative;
  left: 256px;
  top: 11px;
  width: 1px;
}
.range_container11 {
  width: 295px;
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
}

.pinButton33 input {
  display: none;
}
.pin33 {
  width: 15px;
  height: auto;
  transform: rotate(35deg);
}
.pinButton33 {
  width: 45px;
  height: 45px;
  padding-right: 6px;
  padding-bottom: 9px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}
.pinButton33 input:checked ~ .pin33 {
  fill: #ffcb37;
  stroke: white;
}
.pinButton33 input:checked ~ .pin33 line {
  stroke: #ffcb37;
}
.pinButton33 input:checked ~ .pin33 path {
  stroke: #ffcb37;
}
/* .pinButton:hover {
  background-color: rgb(244, 238, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.041);
} */
.pinButton33:active {
  transform: scale(0.8);
}
